.zamp-bottom-sheet-title {
    font-weight: 700;
    font-size: 16px;
    color: #270235;
  }

  .zamp-bottom-sheet-desc {
    padding-top: 10px;
    padding-bottom: 30px;
    color: #626262;
    font-size: 15px;
  }

  .zamp-bottom-sheet-button-container{
    display: flex;
    justify-content: space-between;
  }